.photo-pane {
  width: 100%;
  height: 76%;
  background: rgb(200, 200, 200);
  overflow: hidden;
  position:relative;
}

.hidden{
  visibility:hidden;
}

.processing {
  position:absolute;
  top:50%;
  text-align:center;
  width:100%;
}

.aspect-img {
  width: 100%;
  vertical-align: bottom;
}

.button {
  height: 10%;
  width: 100%;
  margin-top: 8px;
}

html, body {
  height: 97%;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-right: 5px;
}
